.main-header {
  text-align: center;
}
td.delete-item {
  box-sizing: border-box;
  font-size: 30px;
  line-height: 100%;
  color: red;
  text-align: center;
  cursor: pointer;
}
a.badge.badge-dark {
font-size: 16px !important;  
font-weight: normal;
}
